.login-space {
    margin: 5%;
  }
  
  .login {
    max-width: 500px;
    min-width: 300px;
    position: relative;
    left: 25%;
    // background-color: whitesmoke;
  }
  .title {
    color: white;
  }
  form {
    display: flex;
    flex-direction: column;

  }
  
  mat-form-field {
    margin: 0% 1%;
  }
  
  .button-area {
      display: flex;
      justify-content: flex-end;
  }
  
  .loginButton {
    margin: 1%;
    padding: 0%, 5%;
  }
  