<div class="register-space">
  <mat-card class="register">
    <mat-card-title class="title">Resgister</mat-card-title>
    <form>
      <mat-form-field
        [hideRequiredMarker]="true"
        floatLabel="always"
        color="accent"
      >
        <mat-label>Email</mat-label>
        <input
          matInput
          required
          type="email"
          name="email"
          [(ngModel)]="email"
        />
      </mat-form-field>
      <mat-form-field
        [hideRequiredMarker]="true"
        floatLabel="always"
        color="accent"
      >
        <mat-label>Nome</mat-label>
        <input matInput required type="text" name="nome" [(ngModel)]="name" />
      </mat-form-field>
      <mat-form-field
        [hideRequiredMarker]="true"
        floatLabel="always"
        color="accent"
      >
        <mat-label>Senha</mat-label>
        <input
          matInput
          required
          type="password"
          name="password"
          [(ngModel)]="password"
        />
      </mat-form-field>
      <div class="button-area">
        <button
          mat-raised-button
          color="primary"
          class="registerButton"
          (click)="register()"
        >
          Register
        </button>
      </div>
    </form>
  </mat-card>
</div>
