.register-space {
  margin: 5%;
}

.register {
  max-width: 500px;
  min-width: 300px;
  position: relative;
  left: 25%;
}
.title {
  color: white;
}
form {
  display: flex;
  flex-direction: column;
//   justify-content: flex-end;
//   align-items: end;
}

mat-form-field {
  margin: 0% 1%;
}

.button-area {
    display: flex;
    justify-content: flex-end;
}

.registerButton {
  // max-width: 10%;
  margin: 1%;
  padding: 0%, 5%;
  // color: black;
//   background-color: rgb(158, 76, 224);
}
